__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
env/
.venv/
venv/
ENV/
pip-selfcheck.json
.mypy_cache/
.pytest_cache/
/.vscode/
*.sqlite3
*.log
/.idea/
/.DS_Store
/.pytest_cache/
/.ipynb_checkpoints/
requirements.txt